@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900";
body {
  background-image: url(https://www.publicdomainpictures.net/pictures/130000/velka/yellow-orange-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #3E363F;
  font-family: "Lato", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.App {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.Modal {
  background: #3E363F;
  border-radius: 2px;
  padding: 30px;
  width: 450px;
  height: 255px;
}

.InputDROP {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1px solid rgba(255, 252, 232, 0.1);
  padding-bottom: 3px;
  margin-bottom: 5px;
  background: transparent;
  border: 0;
  font-family: "Lato", sans-serif;
  -webkit-box-flex: 1;
  font-size: 40px;
  font-weight: 300;
    color: #545353;


}

.Input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1px solid rgba(255, 252, 232, 0.1);
  padding-bottom: 3px;
  margin-bottom: 5px;
  background: transparent;



}
.Input input {
  outline: none;
  border: 0;
  color: #FFFCE8;
  background: transparent;
  font-family: "Lato", sans-serif;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-size: 40px;
  font-weight: 300;
}

button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #DD403A;
  border: 0;
  border-radius: 3px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}
button .fa {
  font-size: 12px;
  margin-left: auto;
  position: relative;
  top: 1px;
}
button:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}
button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
}

.example-enter {
  margin-top: 30px;
  opacity: .01;
}
.example-enter.example-enter-active {
  margin-top: 0px;
  opacity: 1;
  -webkit-transition: opacity .5s ease, margin .5s ease;
  transition: opacity .5s ease, margin .5s ease;
}

.example-leave {
  margin-top: 0px;
  opacity: 1;
}
.example-leave.example-leave-active {
  margin-top: -30px;
  opacity: .01;
  -webkit-transition: opacity .3s ease, margin .5s ease;
  transition: opacity .3s ease, margin .5s ease;
}
